<!-- listeTelevisions.ejs -->
<head>
  <meta charset="UTF-8">
  <title>HenniList</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Televisions lists</h1>
<h2>Bought televisions</h2>

<div class="code-container">
  <table>
      <thead>
          <tr>
              <th>Model</th>
              <th>Price</th>
              <th>Size</th>
              <th>Etat</th>
              <th>Destruction</th>
          </tr>
      </thead>
      <tbody>
          <% for (television of possessList) { %>
              <tr>
                  <td><%= television.Model %></td>
                  <td><%= television.Price %></td>
                  <td><%= television.Size %></td>
                  <td><%= television.Etat %></td>
                  <td><a href="/destroy/<%= television.id %>">Détruire</a></td>
              </tr>
          <% } %>
      </tbody>
  </table>
</div>

<h2>Wishlist</h2>

<div class="code-container">
  <table>
      <thead>
          <tr>
              <th>Model</th>
              <th>Price</th>
              <th>Size</th>
              <th>Etat</th>
              <th> UPDATE </th>
          </tr>
      </thead>
      <tbody>
          <% for (television of wishlist) { %>
              <tr data-television-id="<%= television.id %>">
                  <td><%= television.Model %></td>
                  <td><%= television.Price %></td>
                  <td><%= television.Size %></td>
                  <td><%= television.Etat %></td>
                  <td><a href="/buy/<%= television.id %>">I bought it !</a></td>
                </tr>
              </tr>
          <% } %>
      </tbody>
  </table>
</div>

<br>
<br>
<p>Le montant total dépensé en télévisions est de <%= totalAmount %>€</p>
<br>
<br>
<p>Ajouter une nouvelle télévision à la wishlist</p>
<form action="/add" method="POST">
  <input name="Model" placeholder="Model" /> 
  <input name="Price" placeholder="Price" type ="number"/> 
  <input name = "Size" placeholder="Size" type ="number"/>

  <input type="submit" />
</form>
</body>
